<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1> Adi's shop: </h1>
      <h3>surfboard:</h3>
      <p>it costs between 475-525 USD accoarding to the size that you choose.
        there are differint colors that you can choose from like: red, white, yellow</p>
      <a href="https://www.amazon.com/-/he/Modern-Surfboards/dp/B0BJ4TS5N6/ref=sr_1_11?c=ts&keywords=surf+boards&qid=1669049391&s=sports-and-fitness&sr=1-11&ts_id=3418591"><img src="https://www.backcountry.com/images/items/1200/MDS/MDS000Q/WHI_D3.jpg"  width="460" height="345"></a>
      <p></p>
      <a href="/">back home;)</a>
      <a href="/cart">add to cart;)</a>
</body>
</html>
